.filters {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 16px 0;
}
.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.visitor-name {
  display: flex;
  align-items: center;
  gap: 16px;
  margin: 8px 0;
}
.visits {
  margin: 16px 0;
  &.visits-content {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    width: fit-content;
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
    mat-card {
      min-width: 320px;
    }
  }
}
