<mat-card>
  <form #ngForm="ngForm" [formGroup]="form" (ngSubmit)="submit()">
    <mat-card-header>
      <mat-card-title
        >{{ !visit ? "Cadastrar" : "Editar" }} visita</mat-card-title
      >
    </mat-card-header>
    <mat-card-content>
      <div class="form-content">
        <mat-form-field>
          <mat-label>Placa do veículo</mat-label>
          <input
            type="text"
            matInput
            [formControl]="form.controls.car_license_plate"
            placeholder="Placa do veículo"
          />
          <app-errors-handler
            [control]="form.controls.car_license_plate"
            controlTitle="Placa do veículo"
            [form]="ngForm"
          ></app-errors-handler>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Residência</mat-label>
          <input
            type="text"
            placeholder="Digite para buscar"
            aria-label="Residência"
            matInput
            [formControl]="form.controls.residence"
            [matAutocomplete]="auto"
          />
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            @for (option of filteredOptions; track option) {
            <mat-option [value]="option.name">{{ option.name }}</mat-option>
            }
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Tipo da visita</mat-label>
          <mat-select [formControl]="form.controls.typeVisitId">
            @for (option of typeVisitList; track option) {
            <mat-option [value]="option.id">{{ option.name }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Moradores</mat-label>
          <mat-select [formControl]="form.controls.resident">
            @for (option of residence?.residents; track option) {
            <mat-option [value]="option.id">{{ option.name }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <div class="input-content">
          <a mat-button (click)="createResident()">
            <mat-icon>add_box</mat-icon>
            <span> Cadastrar morador </span>
          </a>
        </div>
        <div class="input-content"></div>
        <mat-form-field>
          <mat-label>Visitante</mat-label>
          <input
            type="text"
            matInput
            [formControl]="form.controls.visitor"
            mask="000.000.000-00"
            placeholder="CPF do visitante"
          />
          <app-errors-handler
            [control]="form.controls.visitor"
            controlTitle="Visitante"
            [form]="ngForm"
          ></app-errors-handler>
        </mat-form-field>
        <!-- @if(residence?.residents){
        } -->
      </div>
      <div class="input-content" *ngIf="visitor">
        <div class="visitor-name">
          <img class="avatar" [src]="visitor.picture" [alt]="visitor.name" />
          {{ visitor.name }}
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button type="submit" mat-flat-button color="primary">Salvar</button>
      <a [routerLink]="['/', 'visitas']" mat-button> Cancelar </a>
    </mat-card-actions>
  </form>
</mat-card>
