.form-content {
  display: flex;
  margin: 16px 0;
  flex-wrap: wrap;
  gap: 16px;
  mat-form-field,
  .input-content {
    flex: 0 0 360px;
    max-width: 100%;
  }
  .picture-content {
    flex: 1;
    width: 100%;
  }
}
.input-content {
  display: flex;
  flex-wrap: wrap;
}
.create-action {
  display: flex;
  align-content: center;
}
.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.visitor-name {
  display: flex;
  align-items: center;
  gap: 16px;
}