<mat-card class="example-card">
  <form
    #ngForm="ngForm"
    class="login-form"
    [formGroup]="form"
    (ngSubmit)="submit()"
  >
    <mat-card-header>
      <mat-card-title>Nova senha</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input
          type="email"
          matInput
          [formControl]="form.controls.email"
          placeholder="Email"
        />
        <app-errors-handler
          [control]="form.controls.email"
          controlTitle="Email"
          [form]="ngForm"
        ></app-errors-handler>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Senha</mat-label>
        <input
          type="password"
          matInput
          [formControl]="form.controls.password"
          placeholder="Senha"
        />
        <app-errors-handler
          [control]="form.controls.password"
          controlTitle="Senha"
          [form]="ngForm"
        ></app-errors-handler>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Senha</mat-label>
        <input
          type="password"
          matInput
          [formControl]="form.controls.password_confirmation"
          placeholder="Senha"
        />
        <app-errors-handler
          [control]="form.controls.password_confirmation"
          controlTitle="Senha"
          [form]="ngForm"
        ></app-errors-handler>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button type="submit" mat-flat-button color="primary">
        Alterar senha
      </button>
      <a [routerLink]="['/', 'entrar']" mat-button> Voltar </a>
    </mat-card-actions>
  </form>
</mat-card>
