<form #ngForm="ngForm" [formGroup]="form" (ngSubmit)="submit()">
  <h2 mat-dialog-title>Trocar senha</h2>
  <mat-dialog-content class="form-content">
    <mat-form-field>
      <mat-label>Senha</mat-label>
      <input
        type="password"
        matInput
        [formControl]="form.controls.password"
        placeholder="Senha"
      />
      <app-errors-handler
        [control]="form.controls.password"
        controlTitle="Senha"
        [form]="ngForm"
      ></app-errors-handler>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Confirmar senha</mat-label>
      <input
        type="password"
        matInput
        [formControl]="form.controls.passwordConfirmation"
        placeholder="Senha"
      />
      <app-errors-handler
        [control]="form.controls.passwordConfirmation"
        controlTitle="Confirmar senha"
        [form]="ngForm"
      ></app-errors-handler>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancelar</button>
    <button mat-button type="submit">Salvar</button>
  </mat-dialog-actions>
</form>
