@import '../../../styles/styles.scss';
.example-spacer {
  flex: 1 1 auto;
}
:host,
.container,
.navigation-container {
  display: flex;
  height: 100%;
  flex: 1;
  width: 100%;
}
.navigation-container {
  flex-direction: column;
  .app-content {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
  }
}
:host::ng-deep {
  .mat-drawer-content {
    flex: 1;
    height: 100%;
  }
  .sidenav {
    background-color: $primary-color;
    width: 200px;
    border-radius: 0;
  }
  .app-content {
    background-color: $primary-content-color;
    padding: 8px;
    display: flex;
    justify-content: center;
    .app-content__container {
      max-width: 1360px;
      width: 100%;
    }
  }
  .toolbar {
    background-color: $primary-color;
    * {
      color: $primary-content-color;
    }
  }
} 
  